asgiref==3.4.1
diff-match-patch==20200713
Django==3.2.9
mistune==0.8.4
numpy==1.21.3
plotly==5.3.1
pycode-similar==1.4
Pygments==2.10.0
pyplagiarism==0.1.2
pytz==2021.3
six==1.16.0
sqlparse==0.4.2
tenacity==8.0.1
